@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

* {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    color: #fff;
    outline: none;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(1.7px);
}

.header-menu {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    height: 10vh;
}

.nav-link {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.link {
    font-weight: 300;
}

.header-email p {
    font-weight: 300;
}

.header-button {
    width: 18em;
    height: 3em;
    border: 0;
    border-style: solid;
    border-color: black;
    border-radius: 3.3125rem;
    background-color: #fff;
    align-items: center;
}

.header-button p {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.main-screen {
    width: 100%;
    height: 110vh;
    background-image: url(/img/backgroung_image.jpg);
    background-size: cover;
    display: grid;
    align-items: center;
    min-height: 110vh;
}

.logo {
    font-size: 100pt;
    padding-bottom: 130px;
    text-align: center;
}

.minimalism {
    width: 100%;
    height: 90vh;
    display: grid;
}

.text-above-cards {
    font-size: 37pt;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 90%;
    margin-left: 15px;
    z-index: 0;
}

.big-text {
    font-weight: 300;
}

.container {
    width: 100%;
    z-index: 0;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.card-dark-green,
.card-green,
.card-white {
    width: 400px;
    height: 320px;
    border-radius: 1.5em;
    padding: 30px;
    position: relative;
    transition: .2s ease-out;
}

.card-dark-green {
    background-color: #1e2625;
}
.card-dark-green:hover {
    box-shadow: 0px 0px 25px 15px rgba(0, 0, 255);
    transition: .4s ease-in;
    z-index: 2;
    width: 410px;
    height: 330px;
}

.card-green {
    background-color: #17261e;
}

.card-green:hover {
    box-shadow: 0px 0px 25px 15px rgba(0, 0, 255);
    transition: .4s ease-in;
    z-index: 2;
    width: 410px;
    height: 330px;
}

.card-white {
    background-color: rgb(229, 229, 229);
}

.card-white:hover {
    box-shadow: 0px 0px 25px 15px rgba(0, 0, 255);
    transition: .4s ease-in;
    z-index: 2;
    width: 410px;
    height: 330px;
}

.card-item {
    height: 100%;
    width: 100%;
}

.card-img {
    width: 100%;
    height: 50%;
}

.card-information {
    display:flex ;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 50%;
}

.card-text-up {
    min-width: 400px;
}

.card-text {
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
    font-size: 16pt;
    width: 400px;
}

.card-dark-text {
    color: #000;
    font-size: 16pt;
    font-weight: 300;
    width: 100%;
    margin-bottom: 10px;
}

.image {
    width: 48px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

.contacts{
    width: 300px;
    margin-left: 25px;
}

.footer-nav {
    
}

.copyright {
    width: 300px;
    margin-right: 25px;
}

.copyright p {
    font-weight: 300;
    text-align: right;
}