body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    color: white;
    background-color: #0d0d0d;
}

a, a:visited {
    text-decoration: none;
    color: white;
}
/*a:visited {*/
/*    color: white;*/
/*}*/

.main-header{
    font-weight: 400;
    display: grid;
    font-size: 20px;
    letter-spacing: -0.5px;
    height: 100vh;
    width: 100%;
    background-image: url(img/bgph.jpg );
    background-position: center bottom;
    background-size: cover;
}

.main-navigation{
    width: 100%;
    position: fixed;
    /*display: flex;*/
    background-color: transparent;
    /*flex-direction: column;*/
    /*align-items: center;*/
    backdrop-filter: blur(5px);
}

.container{
    margin: 0 auto;
    padding: 0 40px;
    width: 1290px;
}

.site-navigation-wrapper .container{
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.main-header-logo{
    align-self: center ;
    justify-self: center;
    width: 555px;
    height: 86px;
    order: 1;
}

.site-navigation{
    list-style: none;
    display: flex;
    background-color: transparent;
    padding: 0;

}

.site-navigation li{
    margin-right: 20px;
}



.site-controls{
    list-style: none;
    display: flex;

}

.main-content{
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.services{
    margin-bottom: 208px;
}

.services h3{
    margin: 0 0 60px;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -3px;
}

.services-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 350px;
}

.services-item{
    width: 409px;
}

.services-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    padding: 40px;
    /*min-height: 350px;*/
    border-radius: 60px;
    background: linear-gradient(to top, #152022, #0e0f10);
}


.services-title{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -1.8px;

}

.works h3{
    margin: 0 0 60px;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -3px;
}

.works-list{
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    min-height: 900px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.works-item{
    /*box-sizing: border-box;*/
    /*padding: 15px 15px 11px;*/
    border-radius: 20px;
    /*width: 410px;*/
    /*height: 900px;*/
    background: linear-gradient(-177deg, #152022, #0e0f10);
}

.works-item-wrapper{
    padding: 15px 15px 11px;
}

.works-list .item-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.works-list .item-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.works-list .item-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.works-img{
    margin-bottom: 5px;
}
.works-type{
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
.works-title{
    display: block;
    font-size: 18px;
}


.main-footer{
    min-height: 100px;

}






